
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
publishing.properties
.env
.env.*
xcuserdata/
Pods/
*.jks
*.gpg
*.key
*.pem
*yarn.lock
.gradle-user
